.navbar{
    display: flex;
}
#carouselExampleSlidesOnly{


    margin-bottom: 30px;
    display: flexbox;
    height: 20px;

}
.carsol_height{
  
    height: 10px;
   
    display: flexbox;    
}
.carousel-inner{
height: 350px;
border-radius: 5px;

}
.carousel-inner img{
  height:350px
}
/* .container-fluid{
    float: right;
    padding-left: 40px;

} */
/* .d-flex{
    padding-left: 40px;
    float: right;
} */
/* .form-controlme-2{
    width: 60%;
    padding-left: 100%;
} */
#search_bar{
    border-top-right-radius: 5px;
    padding-left: 600px;
    margin-top: 30px;
    margin-bottom: -20px;
    
}

.container-fluid{
    padding-top: 0px;
    margin-top: -20px;
}
.box{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 400px;

    justify-content: left;
   
  border-radius: 50%;
    bottom: 30px;
   
  
}
.card{
   
    width: 250px;
    text-align: center;
    margin-top: 0px;
    box-shadow: 10px 10px 10px 0 gray;
    border-radius: 880%;
    cursor: zoom-in;
    /* background-position: center; */
    overflow: hidden;
    margin: 0 auto
    


    

   
   
}
div.card img{
    /* width: 50%; */
    width: 100%;
    transition: 0.5s all ease-in-out;
   
     
}
.card:hover{
    transform: scale(1.2);
    
}