<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{../css/card2.css}">
  <script src="https://kit.fontawessome.com/f30fac2c61.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
<!--<div class="container">-->
<!--  <div class="card">-->
<!--    <div class="pic-ctn">-->
<!--      <img th:src="@{../images/clothing.png}" alt="" class="pic">-->
<!--      <img th:src="@{../images/Headphone.png}" alt="" class="pic">-->
<!--      <img th:src="@{../images/iphone.png}" alt="" class="pic">-->
<!--      <img th:src="@{../images/jacket.png}" alt="" class="pic">-->

<!--    </div>-->

<!--    <button class="green">Buy Now</button>-->
<!--  </div>-->
<!--  -->

<!--</div>-->
<!--old code-->    <!--old code-->      <!--old code-->    <!--old code-->

<body>
<div class="container">
  <div class="card">
    <div class="carousel">
      <img th:src="@{../images/clothing.png}" alt="">
      <img th:src="@{../images/Headphone.png}" alt="">
      <img th:src="@{../images/iphone.png}" alt="">
      <img th:src="@{../images/jacket.png}" alt="">
    </div>
    <button class="green">Buy Now</button>
  </div>
  <!-- Add more cards as needed -->
</div>
</body>




</body>
</html>

