<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{../css/carsousel123.css}">
</head>
<body>

<div class="pic-ctn">
  <img th:src="@{../images/clothing.png}" alt="" class="pic">
  <img th:src="@{../images/Headphone.png}" alt="" class="pic">
  <img th:src="@{../images/iphone.png}" alt="" class="pic">
  <img th:src="@{../images/jacket.png}" alt="" class="pic">
  <!-- <img src="https://picsum.photos/200/300?t=5" alt="" class="pic"> -->
</div>
<div class="pic-ctn">
    <img th:src="@{../images/clothing.png}" alt="" class="pic">
    <img th:src="@{../images/Headphone.png}" alt="" class="pic">
    <img th:src="@{../images/iphone.png}" alt="" class="pic">
    <img th:src="@{../images/jacket.png}" alt="" class="pic">
    <!-- <img src="https://picsum.photos/200/300?t=5" alt="" class="pic"> -->
</div>

</body>
</html>