<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" th:href="@{../css/style.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
<!--    <link rel="stylesheet" href="./style.css">-->
    <script src="https://kit.awesom.com/1257957a37.js" crossorigin="anonymous"></script>
</head>
<body>
<form th:action="@{/check-login}" th:object="${user}" method="post">
    <!-- partial:index.partial.html -->
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h2>online Shopping</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur et est sed felis aliquet sollicitudin</p>
                <!-- <span>
                    <p>login with social media</p>
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
                </span> -->
            </div>
        </div>


        <div class="right">
            <h5>Login</h5>
            <p><strong style="color: black;">Don't have an account?</strong> <a href="/registerUser">Creat Your Account</a><strong style="color: black"> it takes less than a minute</strong></p>
            <div class="inputs">


                <input type="text" placeholder="user name" name="email" >

                <br>
                <input type="password" placeholder="password" name="password">
            </div>

            <br><br>

            <div class="remember-me--forget-password">
                <!-- Angular -->
                <label>
                    <input type="checkbox" name="item" checked/>
                    <span class="text-checkbox">Remember me</span>
                </label>
                <p>forget password?</p>
            </div>

            <br>
            <button>Login</button>
        </div>

    </div>

    <!-- partial -->
</form>
</body>
</html>
